<!DOCTYPE html>
<html ng-app="fx0" ng-csp>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1">

    <title>fx0editor</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-theme.css">
    <link rel="stylesheet" href="angular-csp.css">
    <link rel="stylesheet" href="editor.css">
    <script src="angular.min.js"></script>
    <script src="localforage.js"></script>
    <script src="jquery-2.1.3.min.js"></script>
    <script src="underscore-min.js"></script>
    <script src="gh3.js"></script>
    <script src="app.js"></script>
</head>
  <body ng-controller="saveController" class="container-fluid">
    <div class="col-xs-12" ng-show="offline">通信に失敗しました。ローカルに保存されているデータを表示します。</div>
    <!-- ノートリスト -->
    <ul ng-show="showGists">
      <li ng-repeat="gist in gists">
        <ul>
          <li ng-repeat="file in gist.files">
            <a ng-click="selectGists(gist.id, file)">{{file.filename}}</a>
          </li>
        </ul>
      </li>
    </ul>
    <textarea class="col-xs-12 editor" ng-model="editor" ng-show="showEditor"></textarea>
    <ul class="btn-group col-xs-12" ng-show="showMenu">
      <li class="btn btn-default col-xs-4" ng-click="toggleGists()">
        リスト
      </li>
      <li class="btn btn-default col-xs-4" ng-click="showSearch = true">
        検索
      </li>
      <li class="btn btn-default col-xs-4" ng-click="saveGist()">
        保存
      </li>
    </ul>
    <!-- 検索欄 -->
    <div ng-show="showSearch" class="input-group">
      <input ng-model="searchQuery" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="search()">Go!</button>
      </span>
    </div>
  </body>
</html>
